---
const funPhrases = [
    "I make things click.",
    "I talk to computers, they ignore me sometimes.",
    "I have a love-hate relationship with bugs: I love to squash them, but they keep coming back.",
    "I write code that even my future self can understand.",
    "I believe in the power of a good README file.",
];
---

<p class="pull-quote">
    {funPhrases[Math.floor(Math.random() * funPhrases.length)]}
</p>
