---

---

<div class="links">
    <a
        href="https://matrix.to/#/@gerard:pollorebozado.com"
        target="_blank"
        class="link">matrix↗</a
    >
    <a
        href="https://github.com/GerardPolloRebozado"
        target="_blank"
        rel="noopener noreferrer"
        class="link">github ↗</a
    >
    <a
        href="https://www.linkedin.com/in/gerard-du-pre/"
        target="_blank"
        rel="noopener noreferrer"
        class="link">linkedin ↗</a
    >
    <a
        href="mailto:hello@gerarddupre.dev"
        class="link"
        style="color:var(--blue)">hello@gerarddupre.dev</a
    >
</div>

<style>
    .links {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .link {
        font-family: var(--font-mono);
        font-size: 0.72rem;
        color: var(--ink3);
        text-decoration: none;
        transition: opacity 0.2s;
    }
    .link:hover {
        opacity: 0.6;
    }
</style>
